################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ConsoleLogAnalyser/bin
/ConsoleLogAnalyser/obj
/LogAnalyser/.vs/LogAnalyser
/LogAnalyser/bin
/LogAnalyser/obj
